.primary-btn button {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 50px;
  display: inline-block;
  overflow: hidden;
  padding: 10px 30px;
  text-transform: capitalize;
  /* border: 1px solid var(--primary-color); */
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  border: none;
}
.primary-btn button::after {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--secondary-color);
  /* border: 1px solid var(--secondary-color); */
  z-index: -1;
}
.primary-btn button:hover::after {
  transition: all 0.5s ease;
  left: 0;
  right: 0;
  opacity: 1;
}
/* .primary-btn button::after {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ffb500;
  z-index: -1;
} */
/* .primary-btn button:hover::after {
  transition: all 0.5s ease;
  left: 0;
  right: 0;
  opacity: 1;
} */

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .primary-btn button {
    padding: 7px 30px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .primary-btn button {
    padding: 11px 30px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .primary-btn button {
    padding: 11px 30px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .primary-btn button {
    font-size: 16px;
    padding: 7px 15px;
  }
}
