.all-chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 40px 0;
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .all-chefs {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .all-chefs {
    grid-template-columns: repeat(2, 1fr);
  }
  .chef-content {
    padding: 80px 20px 20px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .all-chefs {
    grid-template-columns: repeat(1, 1fr);
  }
}
