.footer-area {
  background-color: var(--black);
  padding: 80px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-area .app-download {
  margin-top: 50px;
}
.footer-menu-title {
  color: var(--white);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.footer-area .nav-link {
  color: #aaa7b1 !important;
  text-transform: capitalize;
  margin: 15px 0;
}
.footer-bottom-menu ul {
  display: flex;
}
.footer-bottom-menu ul li {
  margin: 0 15px;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.copyright-text {
  color: var(--gray);
  margin-top: 15px;
}
