@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color: #191720;
  --primary-color: #ff5331;
  --white: #ffffff;
  --white-two: #f6f6f6;
  --gray: #afafaf;
  --font-inter: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #7b8491;
  font-family: "Open Sans", sans-serif;
  background-color: var(--black-2);
  color: var(--black);
  font-family: var(--font-inter);
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--font-inter);
  font-weight: 600;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none;
  color: var(--text-color) !important;
}
p {
  font-family: var(--font-inter);
  color: var(--text-color);
  line-height: 1.8;
  margin-bottom: 5px;
  hyphens: auto;
  word-break: break-word;
}
img {
  /* max-width: 100%; */
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}
ol {
  counter-reset: counter;
  padding-left: 0;
}

ol li {
  list-style: none;
  margin-bottom: 1rem;
}
h2 {
  font-size: 61px !important;
  font-weight: 700 !important;
}
